*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}

input,
button,
code,
input {
  font-size: 1rem;
}

input {
  flex-grow: 1;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background-color: #0070f3;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
}

form {
  display: flex;
  margin-top: 20px;
}
