.message {
  padding: 1rem;
  word-wrap: break-word;
  display: flex;
}

.role {
  width: 100px;
  font-weight: bold;
  flex-shrink: 0;
}

.assistant {
  background-color: var(--white);
}

.user {
  background-color: var(--lightest-grey);
}
