.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 2rem 1rem;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.chatContainer {
  height: 600px;
  border: 1px solid var(--mid-grey);
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 1rem;
}

.header menu {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.header .group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 auto;
}
