.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 2rem 1rem;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.chatContainer {
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}
